
h1
{
    text-align: center;
}

p
{
    margin-right: 625px;
    margin-bottom: 2px;
}

div
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

#inputBox
{
    height:250px;
    width: 800px;
    font-size:14pt;
}

#textBoxDiv
{
    height: 300px;
}